# Created by .ignore support plugin (hsz.mobi)
.idea/codeStyles/
src/main/webapp/upload-images/goods-images/
target/classes/com/zpark/controller/GoodsController.class
target/classes/com/zpark/controller/LevelController.class
target/classes/com/zpark/controller/OrderDetailController.class
target/classes/com/zpark/controller/OrdersController.class
target/classes/com/zpark/controller/ReceiverController.class
target/classes/com/zpark/controller/UsersController.class
target/classes/com/zpark/service/GoodsService.class
target/classes/com/zpark/service/LevelService.class
target/classes/com/zpark/service/OrderDetailService.class
target/classes/com/zpark/service/OrdersService.class
target/classes/com/zpark/service/ReceiverService.class
target/classes/com/zpark/service/UsersService.class
target/classes/com/zpark/service/impl/GoodsServiceImpl.class
target/classes/com/zpark/service/impl/LevelServiceImpl.class
target/classes/com/zpark/service/impl/OrderDetailServiceImpl.class
target/classes/com/zpark/service/impl/OrdersServiceImpl.class
target/classes/com/zpark/service/impl/ReceiverServiceImpl.class
target/classes/com/zpark/service/impl/TestImpl.class
target/classes/com/zpark/service/impl/UsersServiceImpl.class
target/generated-sources/
target/shopping-manage/WEB-INF/classes/com/zpark/controller/GoodsController.class
target/shopping-manage/WEB-INF/classes/com/zpark/controller/LevelController.class
target/shopping-manage/WEB-INF/classes/com/zpark/controller/OrderDetailController.class
target/shopping-manage/WEB-INF/classes/com/zpark/controller/OrdersController.class
target/shopping-manage/WEB-INF/classes/com/zpark/controller/ReceiverController.class
target/shopping-manage/WEB-INF/classes/com/zpark/controller/UsersController.class
target/shopping-manage/WEB-INF/classes/com/zpark/service/GoodsService.class
target/shopping-manage/WEB-INF/classes/com/zpark/service/LevelService.class
target/shopping-manage/WEB-INF/classes/com/zpark/service/OrderDetailService.class
target/shopping-manage/WEB-INF/classes/com/zpark/service/OrdersService.class
target/shopping-manage/WEB-INF/classes/com/zpark/service/ReceiverService.class
target/shopping-manage/WEB-INF/classes/com/zpark/service/UsersService.class
target/shopping-manage/WEB-INF/classes/com/zpark/service/impl/GoodsServiceImpl.class
target/shopping-manage/WEB-INF/classes/com/zpark/service/impl/LevelServiceImpl.class
target/shopping-manage/WEB-INF/classes/com/zpark/service/impl/OrderDetailServiceImpl.class
target/shopping-manage/WEB-INF/classes/com/zpark/service/impl/OrdersServiceImpl.class
target/shopping-manage/WEB-INF/classes/com/zpark/service/impl/ReceiverServiceImpl.class
target/shopping-manage/WEB-INF/classes/com/zpark/service/impl/TestImpl.class
target/shopping-manage/WEB-INF/classes/com/zpark/service/impl/UsersServiceImpl.class
