<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zpark.mapper.OrdersMapper">
    <resultMap id="BaseResultMap" type="com.zpark.entity.Orders">
        <id column="order_id" property="orderId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="consignee_name" property="consigneeName" jdbcType="VARCHAR"/>
        <result column="consignee_address" property="consigneeAddress" jdbcType="VARCHAR"/>
        <result column="order_phone" property="orderPhone" jdbcType="VARCHAR"/>
        <result column="order_date" property="orderDate" jdbcType="TIMESTAMP"/>
        <result column="order_state" property="orderState" jdbcType="INTEGER"/>
        <result column="order_note" property="orderNote" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="OrdersResultMap" type="com.zpark.entity.Orders">
        <id column="order_id" property="orderId" jdbcType="INTEGER"/>
        <!--        <result column="user_id" property="userId" jdbcType="INTEGER"/>-->
        <result column="consignee_name" property="consigneeName" jdbcType="VARCHAR"/>
        <result column="consignee_address" property="consigneeAddress" jdbcType="VARCHAR"/>
        <result column="order_phone" property="orderPhone" jdbcType="VARCHAR"/>
        <result column="order_date" property="orderDate" jdbcType="TIMESTAMP"/>
        <result column="order_state" property="orderState" jdbcType="INTEGER"/>
        <result column="order_note" property="orderNote" jdbcType="VARCHAR"/>
        <association property="users" javaType="com.zpark.entity.Users">
            <id column="user_id" property="userId" jdbcType="INTEGER"/>
            <result column="user_name" property="userName" jdbcType="VARCHAR"/>
            <result column="user_password" property="userPassword" jdbcType="VARCHAR"/>
            <result column="user_sex" property="userSex" jdbcType="INTEGER"/>
            <result column="user_email" property="userEmail" jdbcType="VARCHAR"/>
            <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
            <result column="user_address" property="userAddress" jdbcType="VARCHAR"/>
            <result column="user_image" property="userImage" jdbcType="VARCHAR"/>
            <result column="user_date" property="userDate" jdbcType="TIMESTAMP"/>
            <result column="user_state" property="userState" jdbcType="INTEGER"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
    order_id, user_id, consignee_name, consignee_address, order_phone, order_date, order_state, 
    order_note
  </sql>
    <select id="selectPages" resultMap="OrdersResultMap" parameterType="Orders">
        select o.order_id, o.user_id, o.consignee_name, o.consignee_address, o.order_phone, o.order_date, o.order_state,
        o.order_note,u.user_name
        from orders o join users u
        on u.user_id = o.user_id
        <where>
            <if test="users.userName!=null and users.userName!=''">
                and u.user_name like concat('%',#{users.userName},'%')
            </if>
            <if test="orderDateMin!=null ">
                and o.order_date >= #{orderDateMin}
            </if>
            <if test="orderDateMax!=null">
                and o.order_date &lt;=#{orderDateMax}
            </if>
        </where>
    </select>
    <select id="selectGroup" resultType="com.zpark.entity.Orders">
        SELECT
            DATE_FORMAT( o.order_date, "%Y-%m" ) as group_date,
            sum( d.deal_price * d.deal_number ) as group_price
        FROM
            orders o
            JOIN order_detail d ON o.order_id = d.order_id
        WHERE
            DATE_FORMAT( order_date, "%Y-%m" ) BETWEEN DATE_FORMAT( #{orderDateMin}, "%Y-%m" )
            AND DATE_FORMAT( #{orderDateMax}, "%Y-%m" )
        GROUP BY
            DATE_FORMAT(
            order_date,
            "%Y-%m")
    </select>

</mapper>